---
import Section from './Section.astro';

---

<Section>
	<footer class="text-center">
		Hire me -   <span class="underline hover:text-orange-600 cursor-pointer">kumarprabhat308@gmail.com</span> 
	</footer>
</Section>
